@charset "utf-8";
/* CSS Document */

html {
	min-height: 100%;
	position: relative;
}

body{
	background-color: #FFFFFF;
	font-family: Roboto,Arial,Helvetica,sans-serif;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	margin-bottom: 200px;
}

header {
	height: 3rem;
}

header img {
	margin-left: 10px;
	float: left;
}

.header-cont {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #D3DCE2;
}

.site-title {
	float: left;
	padding: 10px;
}

.site-title p {
	font-size: 22px;
	font-weight: bold;
	color: #6C5BE6;
	margin: 0;
}

.header-right {
	float: right;
}

.header-btns {
	margin-top: 0.7rem;
	float: left;
	margin-right: 0.8rem;
}

.yt-btn {
}

.tw-btn {
	margin-top: 0.2rem;
	/*margin-right: 1rem;*/
	margin-left: 0.2rem;
}

.mode-selector {
	float: left;
	margin-top: 1rem;
	margin-right: 1rem;
}

.left-panel{
	width: 8%;
	height: 66%;
	top: 5rem;
	float: left;
	position: fixed;
}

.category-zone {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.category-zone::-webkit-scrollbar {
	width: 4px;
	background: whitesmoke;
}

.category-zone::-webkit-scrollbar-thumb {
	background: #c1c1c1;
}

.left-panel p {
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #D3DCE2;
}

.left-panel a {
	text-decoration: none;
}

.left-panel ul {
	margin-top: 5px;
	margin-left: 5px;
	list-style-type: none;
	padding: 0;
}

.left-panel li{
	margin-top: 1px;
	margin-left: 2px;
	/*border-left: 1px solid #3972b2;*/
	/*border-top: 1px solid #3972b2;*/
}

.left-panel .other-category {
	margin-left: 2px;
}

.right-panel {
	width: 10%;
	margin-top: 2rem;
	margin-right: 1px;
	float: left;
	font-size: 14px;
}

.form-area {
	margin-top: 1rem;
}

#message {
	width: 8rem;
	height: 14rem;
}

.sbmt {
	margin-top: 2px;
}

main {
	width: 78%;
	padding-top: 10px;
	margin-left: 10%;
	margin-bottom: 200px;
	float: left;
}

.main-category-panel h2{
	margin-top: 3rem;
}

.cur-category {
	margin-top: 1rem;
	font-size: 1.5rem;
	float: left;
	font-weight: bold;
}

.last-update {
	margin-top: 2.5rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
	float: right;
}

.subcategory-zone {
	margin-bottom: 1rem;
}

.subcategory-zone h3{
	margin-top: -3.4rem;
	padding-top: 3.4rem;
	clear: both;
}
.subcategory-zone:after {
	clear: both;
	content: '';
	display: block;
}

.chan-box{
	width: 23%;
	min-width: 200px;
	height: 180px;
    margin: 7px 7px;
    border: solid 1px #000000;
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);*/
    float: left;
}

.chan-box img {
	width: 40%;
	height: 75%;
	float: left;
}

#sb-img {
	 width: 20px;
	 height: 25px;
}

#uplist-img {
	 width: 20px;
	 height: 25px;
	 margin-right: 6px;
}

#desc-img {
	 width: 25px;
	 height: 25px;
	 margin-right: 4px;
}



#view-img {
	 width: 15px;
	 height: 15px;
	 margin-right: 5px;
	 margin-top: 2px;
}

#video-img {
	 width: 15px;
	 height: 15px;
	 margin-right: 5px;
	 margin-top: 2px;
}

#subscr-img {
	 width: 15px;
	 height: 15px;
	 margin-right: 5px;
	 margin-top: 2px;
}


.chan-info-box {
	width: 60%;
	height: 75%;
	background-color: #e6eae8;
	float: right;
}

.counter-box{
	margin: 10px;
}

.counter-box p{
	margin: 2px;
}

.detail-box {
	margin: 10px;
}

.description p{
	width: 300px;
	height: 100px;
	position: absolute;
	border: 10px;
	z-index: 1;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #FFFFFF;
    border: solid 1px #000000;
}

.description:hover p{
	visibility: visible;
}

.keywords p{
	width: 350px;
	position: absolute;
	border: 10px;
	z-index: 1;
	visibility: hidden;
	background-color: #E6E8BA;
}

.keywords:hover p{
	visibility: visible;
}

.chan-title-box {
	height: 25%;
	background-color:#E2E2E2;
    clear: both;
    display: flex;
	align-items: center;
	justify-content: center;
}

.ytp {
	margin-bottom: 2.5rem;
	clear: both;
}

.video-box {
	margin-left: 2rem;
	margin-bottom: 4rem;
	width: 28%;
	height: 200px;
	float: left;
}

.video-box p {
	width: 98%;
	display: -webkit-box;
	max-height: 2.2rem;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	-webkit-line-clamp: 2;
	font-size: 1.0rem;
	font-weight: 500;
	line-height: 1.1rem;
	margin-bottom: 0px;
	margin-top: 2px;
}

.video-box img {
	width: 100%;
}

.play-btn {
	color: red;
}

.play-btn:hover {
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

footer {
	background-color: #D3DCE2;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	text-align: center;
	clear: left;
}

footer p{
	margin-top: 75px;
	margin-bottom: 0;
}