@charset "utf-8";
/* CSS Document */

body{
background-color: #F0F0FF;
}

.main_category_panel{
	margin-top: 10px;
	margin-right: 100px;
	margin-left: 100px;
	padding: 10px;
	background-color: #DCDCDC;
}

.chan_container{
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

.chan_box{
	width: 22em;
	height: 12em;
    padding: 0.1em 0.1em;
    margin: 0.5em 0.5em;
    color: #5d627b;
    background: white;
    border: solid 2px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	/*text-align:center;*/
    float: left; 
}

.chan_box img {
	width: 40%;
	height: 80%;
	float: left;
}

.chan_title_box {
	height: 20%;
	margin-top: 1em;
	background-color: #BEC1D8;
    clear: both;
    display: flex;
	align-items: center;
	justify-content: center;
}

.chan_info_box {
	width: 60%;
	height: 80%;
	background-color: #CAD4CF;
	float: right;
}